// based on bootstrap with grid
// @gridColumns:      10;
// @gridColumnWidth:  73px;
// @gridGutterWidth:  20px;

@mauve: #B574BA;
@grey: #333333;

body {
  color: @grey;
  margin-top: 15px; }

header nav {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
  span {
    padding-top: 10px;
    padding-bottom: 10px;
    background: @mauve;
    a, a:visited {
      color: @grey; }
    a:hover {
      color: black;
      text-decoration: none; }
  }
  span.highlight {
    a {
      color: white; }
  }
}

#main {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 2px;
  p, ul {
    padding-top: 7px; }
  p, li {
    line-height: 21px; }
  ul {
    margin-left: 45px; }
  h1, h2 {
    padding: 10px 0px;
    font-variant: small-caps; }
  h2 {
    font-size: 22px; }
  nav {
    padding-top: 250px;
    text-align: right;
    span {
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
      a, a:visited { color: @mauve; }
    }
    span.highlight a { font-weight: bold; }
  }
  .container {
    min-height: 420px;
  }
  .columns {
    padding-top: 150px;
    background: url('img/background.png') no-repeat;
  }
  .voorstellingen, .full {
    background: url('img/background-notext.png') no-repeat;
    h1 { 
      text-align: right;
      font-variant: normal;
      padding: 20px 0px;
    } 
    article { 
      padding-top: 30px;
    }
  }
  .voorstellingen {
    nav {
      min-height: 440px;
      padding-top: 110px;
      background: white;
      opacity: 0.9;
    }
    nav img { 
      width: 200px;
      padding-top: 20px;
    }
    article img {
      width: 200px;
      float: right;
      padding: 10px 0px 0px 20px;
    }
  }
  .full {
  }
}


#uurrooster {
  td, th {
    text-align: center;
    width: 120px;
    font-size: 14px; }
  background: white;
  opacity: 0.9;
}

footer {
  text-align: center;
  a, a:visited { color: @grey; }
  hr { margin: 12px 0px 8px 0px; }
}
