body {
  color: #333333;
  margin-top: 15px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul a {
  color: #333;
}
nav ul a.highlight {
  color: #b574ba;
}
header > nav {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
}
header > nav ul {
  background: #b574ba;
}
header > nav ul > li {
  background: #b574ba;
  color: #333333;
}
header > nav ul > li:hover {
  color: white;
  cursor: pointer;
}
header > nav ul > li > span,
header > nav ul > li > a {
  color: inherit;
  display: block;
  padding: 10px 15px;
}
header > nav ul > li > a.highlight,
header > nav ul > li > a:hover {
  color: white;
  text-decoration: none;
}
header > nav > ul > li {
  position: relative;
}
header > nav > ul > li > ul {
  display: none;
  position: absolute;
  padding-bottom: 5px;
  z-index: 1000;
}
header > nav > ul > li:hover > ul {
  display: block;
}
header > nav > ul > li:hover > ul > li {
  white-space: nowrap;
  width: 166px;
}
#main {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 2px;
}
#main p,
#main ul {
  padding-top: 7px;
}
#main p,
#main li {
  line-height: 21px;
}
#main ul {
  margin-left: 45px;
}
#main h1,
#main h2 {
  padding: 10px 0px;
  font-variant: small-caps;
}
#main h2 {
  font-size: 22px;
}
#main nav {
  padding-top: 250px;
  text-align: right;
}
#main nav span {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}
#main nav span a,
#main nav span a:visited {
  color: #b574ba;
}
#main ul.social-links {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
#main ul.social-links > li {
  display: flex;
  align-items: center;
}
#main ul.social-links > li > i {
  width: 40px;
  text-align: center;
}
#main ul.social-links > li > a {
  color: inherit;
}
#main article p img {
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
#main article p > img {
  margin-left: 30px;
}
#main .container {
  min-height: 420px;
}
#main .columns,
#main .docenten,
#main .docenten-index,
#main .dansrichtingen {
  padding-top: 150px;
  background: url('img/background.png') no-repeat;
}
#main .warn {
  color: red;
}
#main .docenten nav,
#main .docenten-index nav {
  text-align: center;
}
#main .docenten nav span,
#main .docenten-index nav span {
  text-align: right;
}
#main .docenten nav img,
#main .docenten-index nav img {
  padding-top: 80px;
}
#main .dansrichtingen nav p {
  font-size: 12px;
}
#main .full {
  background: url('img/background-notext.png') no-repeat;
}
#main .full h1 {
  text-align: right;
  font-variant: normal;
  padding: 20px 0px;
}
#main .voorstellingen article,
#main .full article {
  padding-top: 30px;
}
#uurrooster {
  background: white;
  opacity: 0.9;
}
#uurrooster td,
#uurrooster th {
  text-align: center;
  width: 110px;
  font-size: 14px;
  white-space: nowrap;
}
footer {
  text-align: center;
  padding: 10px 0;
}
footer a,
footer a:visited {
  color: #333333;
}
footer hr {
  margin: 12px 0px 8px 0px;
}
footer .fa {
  padding: 5px;
  font-size: 120%;
}
#main .voorstellingen .intro {
  padding: 15px 0;
}
#main .voorstellingen .intro > * {
  display: none;
}
#main .voorstellingen .intro > *:first-child {
  display: block;
}
#main .voorstellingen .overview-container {
  overflow: auto;
  padding: 0;
  margin: 0;
}
#main ul.voorstellingen-overview {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
#main ul.voorstellingen-overview > li {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #333;
}
#main ul.voorstellingen-overview > li > a {
  color: #333;
}
#main ul.voorstellingen-overview > li > a.highlight {
  color: #b574ba;
  font-weight: bold;
}
#main ul.voorstellingen-overview > li > a > * {
  display: block;
  padding: 3px 0;
}
#main ul.voorstellingen-overview img {
  max-width: 175px;
}
#galleria {
  height: 467px;
}
#main ul.third-menu {
  margin-left: 120px;
}
#main ul.third-menu > li {
  padding: 5px 0;
}