body {
  color: #333333;
  margin-top: 15px;
}
header nav {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
}
header nav span {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #b574ba;
}
header nav span a,
header nav span a:visited {
  color: #333333;
}
header nav span a:hover {
  color: black;
  text-decoration: none;
}
header nav span.highlight a {
  color: white;
}
#main {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 2px;
}
#main p,
#main ul {
  padding-top: 7px;
}
#main p,
#main li {
  line-height: 21px;
}
#main ul {
  margin-left: 45px;
}
#main h1,
#main h2 {
  padding: 10px 0px;
  font-variant: small-caps;
}
#main h2 {
  font-size: 22px;
}
#main nav {
  padding-top: 250px;
  text-align: right;
}
#main nav span {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}
#main nav span a,
#main nav span a:visited {
  color: #b574ba;
}
#main nav span.highlight a {
  font-weight: bold;
}
#main article p img {
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
#main article p > img {
  margin-left: 30px;
}
#main .container {
  min-height: 420px;
}
#main .columns,
#main .docenten,
#main .docenten-index,
#main .dansrichtingen {
  padding-top: 150px;
  background: url('img/background.png') no-repeat;
}
#main .docenten nav,
#main .docenten-index nav {
  text-align: center;
}
#main .docenten nav span,
#main .docenten-index nav span {
  text-align: right;
}
#main .docenten nav img,
#main .docenten-index nav img {
  padding-top: 80px;
}
#main .dansrichtingen nav p,
#main .voorstellingen nav p {
  font-size: 12px;
}
#main .voorstellingen,
#main .full {
  background: url('img/background-notext.png') no-repeat;
}
#main .voorstellingen h1,
#main .full h1 {
  text-align: right;
  font-variant: normal;
  padding: 20px 0px;
}
#main .voorstellingen article,
#main .full article {
  padding-top: 30px;
}
#main .voorstellingen nav {
  min-height: 440px;
  padding-top: 110px;
  background: white;
  opacity: 0.8;
}
#main .voorstellingen nav img {
  width: 200px;
  padding-top: 20px;
}
#main .voorstellingen #affiche {
  font-size: 12px;
  text-align: center;
  width: 200px;
  float: right;
  padding: 10px 0px 0px 20px;
}
#uurrooster {
  background: white;
  opacity: 0.9;
}
#uurrooster td,
#uurrooster th {
  text-align: center;
  width: 110px;
  font-size: 14px;
  white-space: nowrap;
}
footer {
  text-align: center;
}
footer a,
footer a:visited {
  color: #333333;
}
footer hr {
  margin: 12px 0px 8px 0px;
}
#galleria {
  height: 467px;
}
